/* Reset and Global Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Container, cards, generic classes */
.container {
  max-width: 800px;
  margin-inline: auto;
  padding-block: 32px;
  padding-inline: 16px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

label {
  display: block;
}

section > .title-section {
  margin-block-end: 2rem;
  font-size: 1.2rem;
}

/* Header */
header {
  background-color: #F2BED1;
}

.app-bar {
  padding: 24px 20px;
}

.app-bar .brand-name {
  margin: 0;
  font-size: 1.7rem;
}

/* Main */
main {
  min-height: 100vh;
}

/* Note list container placeholder styling */
.note-list-container {
  margin-block-start: 32px;
}

.note-list-container .placeholder {
  margin-block: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}

/* Add spacing between search note and add note containers */
.search-bar-container {
  margin-bottom: 24px;
}

.form-container {
  margin-bottom: 32px;
}

/* Footer */
footer {
  background-color: #F2BED1;
}